:root {
  --silver: #d1d1d1;
  --coral: #ef8354;
  --violet: #6c596e;
  --buttonSize: 6rem;
}

* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-image: url(../assets/white_background.jpg);
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: first baseline;
}
img {
  height: 8rem;
}

h1 {
  font-size: 3rem;
}

h1 span:first-child {
  color: var(--violet);
}
h1 span:last-child {
  color: var(--coral);
}

/* CALCULATOR */

main {
  display: block;
  min-height: 80vh;
  width: 32rem;
  margin: 0 auto 2rem;
  padding: 2rem;
  animation-duration: 0.5s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
}

#display {
  text-align: right;
  border-bottom: 0.5rem solid black;
  margin-bottom: 2rem;
}

#display p {
  margin: 0;
  padding: 0;
}

.secondary-display {
  font-size: 2rem;
  min-height: 3rem;
}

.primary-display {
  font-size: 6rem;
  min-height: 7rem;
}

#buttons {
  display: flex;
}

button {
  height: var(--buttonSize);
  width: var(--buttonSize);
  font-size: 4rem;
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  border-radius: 1rem;
  border-color: var(--silver);
}

button:hover,
button:focus {
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 12px;
  transform: translateY(-1px);
  cursor: pointer;
}

#reset {
  font-size: 2rem;
}

#numbers {
  display: grid;
  grid-template-columns: repeat(3, var(--buttonSize));
  grid-template-rows: repeat(4, var(--buttonSize));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-right: 2rem;
}

#numbers button {
  color: var(--coral);
}

#operators {
  display: grid;
  grid-template-columns: repeat(1, var(--buttonSize));
  grid-template-rows: repeat(5, var(--buttonSize));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

#operators button {
  color: var(--violet);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 31em) {
  main {
    width: 28rem;
  }
  #buttons {
    flex-flow: column;
    align-items: center;
  }

  #operators {
    grid-template-columns: repeat(4, var(--buttonSize));
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    margin-top: 2rem;
  }

  #equals {
    width: calc(var(--buttonSize) * 4);
    margin-left: 0.75rem;
  }
}

/* ANIMATIONS */

.shake {
  animation-name: shake;
}

@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
